<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{__dirname}}/images/chico-logo.svg">
</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

              <!-- Button trigger modal -->
              <li><a type="button" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Meu Carrinho
                <span id="header-badge" class="badge">{{ session.cart.totalQty }}</span>
              </a></li>

              {{# if login }}
                <li><a onclick="openNav()">Minha Conta</a></li>
              {{ else }}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Gerenciamento de Conta<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/signup">Registra-se</a></li>
                    <li><a href="/user/signin">Entrar</a></li>
                  </ul>
                </li>
              {{/if}}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="mySidenav" class="sidenav">


  <div class="menu-header">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  </div>
  <div class="img-cadastro">
    <span class="glyphicon glyphicon-plus btn-add-product" aria-hidden="true"></span>
    <img src="{{user.imagePath}}" alt="profile" width="160px" height="160px">
    <h3>{{user.name}}</h3>
  </div>

  <div class="profile-info">
    <p>{{user.email}}</p><br>
    <p>{{user.address}}</p><br>
    <p>{{user.phone}}</p><br>
    <p><a class="service-link" type="button" data-toggle="modal" data-target="#ServicesModal">
      <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> Agendar Serviço
    </a></p>

    <p class="info-important">Meus pets:</p>
    .<div class="my-pets">
      <img src="{{__dirname}}/images/dog.jpg" alt="..." width="110px" height="110px">
      <img src="{{__dirname}}/images/cat2.jpg" alt="..." width="110px" height="110px">
      <img src="{{__dirname}}/images/cat.jpg" alt="..." width="110px" height="110px">
    </div>

    <br><br><br>
    <a href="/user/logout">Sair da Conta</a>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ServicesModal" tabindex="-1" role="dialog" aria-labelledby="ServicesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ServicesModalLabel">Formulário para Agendamento de Serviços</h4>
      </div>
      <div class="modal-body">

        <div class="row col-md-8" id="formulario">
        		<div class="form-inline marginDefault">
        			<div class="form-group" id="divCliente">
        				<label for="nomeCliente">Nome Cliente</label><br>
        				<input id="nomeCliente" type="text" class="form-control boxSizeDefault" placeholder="Digite o nome do Cliente"></input><br>
        			</div>
        			<div class="form-group" id="divPet">
        				<label for="nomePet">Nome Pet</label><br>
        				<input class="form-control boxSizeDefault" id="nomePet" placeholder="Nome do Pet"></input><br>
        			</div>
        		</div>
        		<div class="form-inline marginDefault">
        			<div class="form-group" id="divCliente">
        				<label for="contatoCliente">Fone Contato</label><br>
        				<input id="contatoCliente" type="text" class="form-control boxSizeDefault" placeholder="(XX) XXXXX-XXXX"></input><br>
        			</div>

        		</div>
        		<div class="form-inline marginDefault" id="divConsulta">
        			<div class="form-group">
        				<label for="consultaTipo">Tipo do Serviço</label><br>
        				<select class="form-control" id="select">
        					<option value="1">Banho e tosa</option>
        					<option value="2">Consulta com Veterinario</option>
        					<option value="3">Adestramento</option>
        					<option value="4">Castração</option>
        				</select>
        			</div>
              <br><br>

        			<div class="input-group date" data-provide="datepicker" id="divData">
        			    <input type="text" class="form-control boxSizeDefault" id="datepicker" placeholder="Data da Consulta">
        			    <div class="input-group-addon">
        				    <span class="glyphicon glyphicon-th"></span>
        		    	</div>
        			</div>
        		</div>
        		<br>
        </div>
      </div>
      <div class="modal-footer footer-services">

        <div class="row">
          <div id="btns-cart-modal" class="col-sm-6 cold-md-6 col-md-offset-6 col-sm-offset-6">
            <button id="btn-close-modal" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <a id="btn-checkout" type="button" class="btn btn-success" data-dismiss="modal">Agendar</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* Open when someone clicks on the span element */
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    if (window.innerWidth > 1440) {
      document.getElementById("mySidenav").style.width = "25%";
    } else if (window.innerWidth > 620) {
      document.getElementById("mySidenav").style.width = "35%";
    } else {
      document.getElementById("mySidenav").style.width = "85%";
    }
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";

    document.body.style.backgroundColor = "white";
}
</script>
